@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
* {
    margin:0;
    padding:0;
    border:none;
}
body {
    font-family:Lato, sans-serif;
    font-weight: 300;
    color:black;
background-color:darkcyan}

h1 h2 {
    font-family: oswald, sans-serif, ;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;}
    
  #logo {
        float:left;
        font-size : 390%;
    }
#menu { 
    font-size: 115%;
    letter-spacing: 4px;
   }
   #menu, #logo {
    line-height: 85px;
  }
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
}
#menu a { text-decoration:
    none;
    color:inherit;
}
 #menu a:hover {  background-color:aliceblue;
    
}
/* hero image*/

#hero-outer {
    overflow: hidden;
    height: 400px;
    width: 100%;

}

#hero-image {height: 400px;
 width: 100%;
    background-image: url('../media/hero\ image.jpg');
    background-repeat: no-repeat;
    background-position: center;
   
}
