@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: black;
    background-color: white
}

h1 h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}


#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 85px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#menu a {
    text-decoration:
        none;
    color: inherit;
}

#menu a:hover {
    background-color: rgb(72, 146, 211);

}

/* hero image*/

#hero-outer {
    overflow: hidden;
    height: 400px;
    width: 100%;
    position: relative;

}

#cover-text,
#cover-text h2 {
    color: rgb(200, 250, 0);
    background-color: #3a3a3a;

}

#hero-image {
    height: 400px;
    width: 100%;
    background-image: url('../media/heroimagepng.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    /* animation zoom effect on hero image*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;

}

/* creat the zoom level for hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    top: 30px;
    left: 150px;
    position: absolute
}

/*overview*/
#overview {
    height: 600px;

}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;


}

#center-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 80%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}


.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

.field,
.field__label,
.field__item {
    text-align: right;
}

#hope {
    text-align: center;
    font: bolder;
    margin: 20px 0;
    font-size: 300%;
}


#box-contianer {
    border-style: ridge;
    border-color: #3a3a3a;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 10px;
    border-width: 2px
}

#box-cover-bg {
    background: url('../media/web1.jpg') no-repeat;
    height: 400px;
    width: 400px;
    background-size: cover;
}

/*our doctors*/
#doctors {
    background-image: url('../media/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#doctors div {
    color: aliceblue;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid;
}

/*footer styling*/
footer {
    height: 150px;
}

.social-media {
    text-align: center;

}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#photos {
    clear: both;

}

#photos>img {
    max-width: 50%;
    object-fit: scale-down;
    max-height: 50%;
}

/*media queries*/
/*media for larger to medium screens*/

@media screen and (max-width: 1200px) {
    #overview {
        width: 70%;
        height: 1200px;
        margin: 0 auto;
    }

    #hope {
        padding: 30px 0;
        margin: 0;
    }

    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #left-about {
        width: 100%;
        float: left;
        padding: 0;

    }

    hr {
        display: none;
    }

    #doctors>div {
        width: 100%;
        clear: both;
        height: 150px;

    }

    #center-about {
        width: 100%;
        clear: both;
        padding: 0%;
        float: left;
    }

    #message,
    #thanks {
        width: auto;
        height: auto;
        text-align: center;
        margin: 0 auto;
        clear: both;
    }
}

/*for medium size screen*/
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #overview {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p,
    .field,
    .field__label,
    .field__item {
        text-align: center;
        padding: 0 20px;
    }

    #images {
        column-count: 2;
    }

}

@media screen and (max-width: 960px) {
    #pothos1 {
        clear: both;
    }

    #signup,
    #myForm,
    #images {
        clear: both;
        margin: 0 auto;
        column-count: 1;
    }

    #message,
    #thanks {
        width: auto;
        height: auto;
        text-align: center;
        margin: 0 auto;
        clear: both;
    }

    #center-about {
        width: 100%;
        clear: both;
        padding: 0%;
        float: left;
    }
}

/* Form */

.form-section {
    clear: left;
    background: url('../media/pic2.1.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: rgb(2, 2, 2);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #000000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #070707;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #ff0000;
}

@media screen and (max-width: 800px) {

    #center-about {
        width: 100%;
        clear: both;
        padding: 0%;
        float: left;
    }
}

#images {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#images>img {
    width: 100%;
}

#message,
#thanks {
    text-align: center;
}

/* media query*/
@media screen and (min-width: 350px) {
 #doctor,
 #box-contianer, #box-cover-bg{
        max-width: 300px;
        max-height: 300px;
    }

}