@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
* {
    margin:0;
    padding:0;
    border:none;
}
body {
    font-family:Lato, sans-serif;
    font-weight: 400;
    color:black;
background-color:darkcyan}

h1 h2 {
    font-family: oswald, sans-serif, ;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;}
    
  #logo {
        float:left;
        font-size : 350%;
        margin-left: 30px;
    }
#menu { 
    font-size: 115%;
    letter-spacing: 4px;
   }
   #menu, #logo {
    line-height: 85px;
  }
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
}
#menu a { text-decoration:
    none;
    color:inherit;
}
 #menu a:hover {  background-color:aliceblue;
    
}
/* hero image*/

#hero-outer {
    overflow: hidden;
    height: 400px;
    width: 100%;
    position: relative;

}

#cover-text, #cover-text h2{
    color: white;

}
#hero-image {height: 400px;
 width: 100%;
    background-image: url('../media/hero\ image.jpg');
    background-repeat: no-repeat;
    background-position: center;
        background-size: cover;
    
   
    /* animation zoom effect on hero image*/
     animation-name: hero-zoom;
     animation-duration: 5s;
     animation-fill-mode:backwards;

}
/* creat the zoom level for hero image*/
@keyframes hero-zoom{ 
    from {
        transform: scale(1);
    }
    to{transform: scale(1.1);}
}
#cover-text {
    font-size: 130%;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;
    padding-top:  40px; 
    padding-left: 10px;
    
    background-color:none;
    
    top: 30px;
    left: 150px;

    position:absolute
}

   /*overview*/
   #overview{
    height: 600px;
    
   }
   
   #left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    
   }
   #right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
  

   }
   #center-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    
   }
   hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
   }
   .left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
   }

   .right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
   }
.right-about-heading h2{
    text-align: right;
}
.right-about-heading p{
    text-align: right;
}
#hope {
    text-align: center;
    font: bolder;
    margin: 20px 0;
    font-size: 400;
}
#box-contianer {
    border-style: ridge;
    border-color: #3a3a3a;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 30px;
    border-width: 1px

}
#box-cover-bg {
    background: url('../media/ethos.jpeg') no-repeat;
 height: 400px;
 width: 400px;
 background-size: cover;}
    
 /*our doctors*/
 #doctors {
    background-image: url('../media/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
 }
 #doctors div {
    color: aliceblue;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid;
 }